html,
body {
    font-family: "Lora", serif;
    font-family: "Ubuntu", sans-serif;
    padding: 0;
    margin: 0;
    font-size: 16px;
}

nav {
    background: #f8f8f8;
}

.row-nav {
    list-style: none;
    padding: 0.8em 0px;
    display: flex;
    justify-content: space-around;
}

img {
    height: auto;

    width: 100%;
}

.row {
    list-style: none;
    padding: 0.8em 1em;
    display: flex;
    justify-content: space-around;
}

.col {
    padding: 1em;
}

.col-bg {
    width: 75%;
}

.col-sm {
    width: 25%;
}

.row-vertical {
    margin-top: 1.8em;
    flex-direction: column;
    border: 18px solid #EBEBEB;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav li {
    font-weight: bold;
    padding: 1em;
}

a {
    color: #707070;
    text-decoration: none;
}

a:hover {
    color: #1792d2;
}

.active {
    border-bottom: 2px solid #707070;
}

h1 {
    font-family: "Lora", serif;
    font-weight: 400;
    margin-bottom: 0.2rem;
}

nav p {
    color: #1792d2;
    font-size: 0.75rem;
    padding: 0;
    margin: 0;
}

.header {
    text-align: center;
    margin: 0 auto;
}

.container {
    margin: 0 auto;
    width: 80%;
}

h2 {
    color: #143774;
}

h3 {
    color: #143774;
    font: normal normal normal 24px/28px Lora;
}

.dates {
    color: #707070;
}

.row p {
    color: #707070;
}

footer {
    background-color: #143774;
    margin: 0 auto;
    text-align: center;
    padding: 1em;
    color: #ffffff;
}

/* for all the tablets and mobiles */
@media (max-width: 800px) {
    nav ul {
        list-style: none;
        padding: 0;
        justify-content: space-around;
        flex-direction: column;
        text-align: center;
    }

    .row-nav {
        justify-content: space-around;
        flex-direction: column;
        text-align: center;
    }

    .row {
        justify-content: space-around;
        flex-direction: column;
        text-align: center;
    }

    .col-bg {
        width: 100%;
    }

    .col-sm {
        width: 100%;
    }
}